* {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

#title {

    background-color: #ff4c68;
    color: #fff;


}

.container-fluid {
    padding: 3% 15% 7%;
}

.row {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
    width: 100%;

}

/* title image */
.rotate {
    transform: rotate(20deg);
    width: 240px;
    position: absolute;
    right: 22.5%;
}

.fa-brands {
    margin: 0 4px;
}

/* navigation bar */
.navbar {
    padding-top: .5rem;

}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;

}

/* dowload-button */
.dowload-button {
    margin: 5% 3% 5% 0;
}

/* section-features */
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 5%;
    width: auto;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

p {
    color: #8f8f8f;
    text-align: center;
    padding: 3%;

}

/* font  */
.fa-solid {
    color: #ef8172;
    padding-bottom: 1rem;
    margin: 0 30%;

}

.fa-solid:hover {
    color: #ff4c68;
}

/* Testimonials  section */
#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;

}



/* logo */
#press {
    padding-bottom: 20px;
    text-align: center;
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* carousel */
.testimonial-image {
    width: 150px;
    margin: 20px;
    border-radius: 100%;
}

.carousel-item {
    padding: 7% 15%;
}

/* pricing */
#pricing {
    text-align: center;
    padding-top: 40px;
}

.card {
    color: #f8909f;
}

@media (max-width:996px) {
    .rotate {
        position: static;
        transform: rotate(0);
        margin: 10% 18%;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    .btn {
        margin: 2% 25%;
        width: 50%;
    }

    h2 {
        font-size: 25px;
    }


}

#cta {
    background-color: #ff4c68;
    font-family: 'Montserrat Black';

}

.heading-3 {
    font-size: 2.5rem;
    color: #fff;
}

.download {
    text-align: center;
    padding-bottom: 100px;
}

.bot-button {
    margin-left: 20px;
}

/* footer section */
#footer {
    text-align: center;
    padding-top: 40px;
}

.foot {
    margin: 0 10px;
    color: #000;
}

.doggy:hover {
    transform: scale(1.1) rotate(5deg);

}

.doggy {
    transition: ease-in-out;
    transition-duration: 400ms;
}